[defaults]
stdout_callback = yaml
callback_whitelist = timing
forks = 500
gathering = smart
inventory = inventory.yml
internal_poll_interval = 0.0001
roles_path = ./roles
interpreter_python = python3

[ssh_connection]
pipelining = True
ssh_args = -F {{ ansible_user_dir }}/.ssh/config -o ControlMaster=auto -o ControlPersist=60s
